html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1E1E;
    color: #FFFFFF;  /* Set text color to white for visibility */
}

.cryptoAssets {
    border: 1px solid rgb(255, 255, 255);
}

.outline {
    border: 2px solid black;  /* Add a border */
    width: 800px;  /* Set the width */
    height: 480px;  /* Set the height */
    box-sizing: border-box;  /* Include the border in the element's total width and height */
}