<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <title>My Website</title>
    <meta http-equiv="refresh" content="10"> <!-- Refresh every 5 seconds -->
</head>
<body>

    <h1>The BTC price is: ${{ btcPrice }}</h1>

    <h1>Total value of all assets are:</h1>
    <table class="cryptoAssets">
        <tr>
            <th>Crypto</th>
            <th>Amount</th>
        </tr>
        {% for row in coin_data %}
        <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <table id="TradesTable">
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Value</th>
            <th>Fees</th>
            <th>Time</th>
            <th>Buy order?</th>
        </tr>
        {% for row in trades_list %}
        <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h1>${{ totalValue }} = {{ totalBTCValue }} BTC</h1>

    
</body>
</html>